.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
body {
  box-sizing: border-box;
  margin-right: 0px;
}
* {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 100px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.studio-item {
  margin-left: 90px;
}
.kontakt-item {
  margin-right: 200px;
}
.portfolio-item {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.portfolio-item :visited {
  color: #2196f3;
}
.studio-item :hover {
  color: #2196f3;
  transition: 250ms;
}
.kontakt-item :hover {
  color: #2196f3;
  transition: 250ms;
}

.kontakt-items {
  display: flex;
}
/* .mail-trade:hover {
  color: #2196f3;
}
.tel-trade:hover {
  color: #2196f3;
} */

.mail-trade {
  color: #757575;
  text-decoration: none;
  margin-right: 50px;
}

.tel-trade {
  color: #757575;
  text-decoration: none;
}
.envenlope-icon {
  margin-right: 10px;
}
.telefone-icon {
  margin-right: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header {
  height: 60px;
  border-bottom: 1px solid #eeeeee;
}
.warning-first {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.studio-trade {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.portfolio-trade {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.portfolio-trade {
  color: #2196f3;
  position: relative;
}
.portfolio-trade::after {
  position: absolute;
  top: 48px;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0px;
  background-color: #2196f3;
  border-radius: 2px;
}
.kontakt-trade {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.f-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.s-logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* .envelope-icon {
  margin-right: 10px;
}
.kontakt-items :hover {
  color: #2196f3;
  fill: #2196f3;
} */
.contact-list {
  display: flex;
}

.contact-list :not(:last-child) {
  margin-right: 50px;
}
.contact-list .link {
  font-family: "Roboto";
  padding-bottom: 32px;
  padding-top: 31px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}
.icon-envelope :hover,
.icon-envelope :focus {
  fill: #2196f3;
}
.icon-smartphone :hover,
.icon-smartphone :focus {
  fill: #2196f3;
}
ul {
  list-style: none;
}

.head-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.kontakt-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.button-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 73px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}

.veb-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 128px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.veb-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}
.app-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 145px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.app-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px #0000001f;
  color: #ffffff;
  transition: 250ms;
}
.dizain-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 103px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.dizain-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}
.marketing-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 130px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
}
.marketing-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}
.first-warning {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.second-warning {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.third-warning {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}
.tehno-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.tehno-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.poster-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.poster-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.sea-items {
  margin-right: 0;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.sea-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.prime-items {
  margin-right: px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.prime-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.boxes-items {
  margin-left: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.boxes-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.inspiration-items {
  margin-right: 0;
  margin-left: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.inspiration-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.limited-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.limited-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.lab-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.lab-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.groving-items {
  margin-right: 0px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.groving-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.teh-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.div-thumb {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0;
  overflow: hidden;
  transform: translateY(50%);
  transition: 0.7s;
  display: inline-block;
}
.div-thumb:hover {
  width: 371px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0.9;
  transition: 0.7s;
  /* transition-duration: 250ms; */
  transform: translateY(0);
}
.p-thumb {
  position: absolute;
  left: 30px;
  top: 63px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.veb-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.dizain-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.poster-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.restoran-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.sea-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.progekt-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.marketing-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.boxes-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.prilogenie-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.inspiration-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.sait-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.limited-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.edition-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.lab-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.la-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.groving-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.business-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.foot-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 528px;

  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  width: 1351px;
  height: 252px;
}
.foot-mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}
.f-footlogo {
  color: #2196f3;
}
.s-footlogo {
  color: #ffffff;
}
.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-left: 100px;
}
.kontakt-items .mail-trade:hover,
.kontakt-items .mail-trade:focus {
  color: #2196f3;
  fill: #2196f3;
  transition: 250ms;
}
.mail-trade {
  display: flex;
  margin-left: 10px;
}

.foot-warning {
  vertical-align: baseline;
}

.foot-logo {
  padding-top: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-left: 100px;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.footer {
  display: flex;
  align-items: baseline;
}
.join {
  margin-left: 70px;
}

.join-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: flex;
  fill: #fff;
  margin-top: 20px;
}

.join-list :not(:last-child) {
  margin-right: 10px;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms;
}
.join-icon :hover,
.join-icon :focus {
  fill: #ffffff;
}
.foot-input {
  background-color: #2f303a;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width: 358px;
  height: 50px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}
.foot-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-right: 40px;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 3px;
}
.inp-svg {
  vertical-align: middle;
  position: relative;

  right: 65px;
}

.inp-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.foot-form {
  margin-left: 93px;
}
